.bg-card{
    background-color: rgb(66, 63, 63);
    padding: 1em;
    box-shadow: 2px 2px 2px 1px rgba(170, 167, 167, 0.9);
    border-radius: 10px;
}
.life-container{
   
    background-color: rgb(128, 128, 128);
    box-shadow: 2px 2px 2px 1px rgba(170, 167, 167, 0.9);
    border-radius: 5px;
    padding:0.8em;
}