.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #111010;
    border-radius: 10px;
}
.color-light {
    background: #eb39399a;
    border-radius: 10px;
}
input.txt {
  border: 0;
  padding: 1em;
  width: 80%;
  margin-bottom: 2em;
  border-radius: 50px;
}
input.btn {
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #252323;
    color: #ffffff;
    margin-bottom: 1em;
    cursor: pointer;
    border-radius: 20px;
    
}

div .life-container {
    background: #292b29;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(#242222b4, #585151);
}